/* 忘记密码栏的容器 大小为全屏 主要用处是为忘记密码栏提供相对定位 */
.forgetPassword-container {
    position: relative;
}

/* 忘记密码栏 */
.forgetPassword {
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 280px;
    width: 760px;
    border-radius: 20px;
    background-color: rgba(84, 49, 42, 1);
    transform: translate(-50%,30%);
}

/* 忘记密码栏左侧 */
.forgetPassword-left {
    box-sizing: border-box;
    width: 193px;
    height: 280px;
    padding: 15px 0 0 0;
    text-align: center;
}

.forgetPassword-title {
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 700;
    color:rgba(252, 252, 252, 1);
}

.forgetPassword-content {
    margin-bottom: 58px;
    font-size: 12px;
    color:rgba(252, 252, 252, 1);
}

/* 忘记密码栏右侧 */
.forgetPassword-right {
    box-sizing: border-box;
    width: 567px;
    height: 280px;
    padding: 22px 0px 0 18px;
    border-radius: 0 20px 20px 0;
    background-color: #FCFCFC;
    text-align: center;
}

.forgetPassword-right-title {
    display: flex;
    justify-content: start;
    margin-bottom: 24px;
    font-size: 20px;
    color: #101010;
}

.forgetPassword-right-content {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.forgetPassword-right-content>input {
    box-sizing: border-box;
    width: 254px;
    height: 34px;
    border-radius: 4px;
    padding-left: 10px;
    outline: none;
    border: 1px solid rgba(0,0,0,.01);
    margin:0 20px 8px 0;
    color: #979797;
    font-size: 14px;
    background: #E1E1E1;
}

.forgetPassword-right>button {
    width: 100px;
    height: 32px;
    border-radius: 8px;
    margin: 20px 0 0 0;
    color: #FCFCFC;
    background-color: #773D31;
}